ai-summarizer.json
{
  "name": "AI-Powered Text Summarization and Email Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5354951d-89a3-486d-8cc6-e6fa02fe83f0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Summarize the following text in simple paragraphs.\n\nDo not use Markdown.\nDo not use *, #, or \\n.\nReturn plain text only.\n\nText:\nArtificial Intelligence is transforming education by helping students learn faster through personalized learning, automated grading, and intelligent tutoring systems.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        0
      ],
      "id": "0b5083f8-2a20-475d-8ad5-17f34022fa24",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        -144
      ],
      "id": "dc8f602a-e382-4238-ba72-9950341e7be8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TzrCOHcSbuL5sr4b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "iframalik.903@gmail.com",
        "subject": "AI Summary from n8n",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        0
      ],
      "id": "f881e29c-ef5f-47bf-8ac7-872b8680f085",
      "name": "Send a message",
      "webhookId": "b3131ba8-8f32-476f-ac2d-081fdc1823f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "0uRBtFQZR3OrLFTo",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5a371658-9474-42bc-8277-d5dc1923ba06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab8c1389da7edab016b79bde2d99914f33bf8b2fc0d39557a7313a8da414a2b1"
  },
  "nodeGroups": [],
  "id": "daPxMz86HZhDgT3Z",
  "tags": []
}